<!-- <div class="jumbotron">
  <h1>Hello, {{username}}</h1>
  <ul class="nav nav-tabs">
    
    <li role="presentation"><a [routerLink]="['/postsCreate',uid]">Create Posts</a></li>
    <li role="presentation"><a routerLink="/view_posts">View Posts</a></li>
    <li role="presentation"><a  [routerLink]="['/posts',uid]">My Posts</a></li>
  </ul>

</div> -->


<link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<!-- <link href='style.css' rel='stylesheet' type='text/css'> -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>

  


<div class="hero ">

    <h1 class=" animated bounceInDown"><span>Angular 6 </span><br>MEAN STACK SOCIAL BLOG APP</h1>
    <h1 class=" animated fadeInLeftBig"><span>Hello, {{username}}</span></h1>

    <div class="mouse animated fadeInRightBig">
        <span></span>
    </div>

</div>
<div class="row content">
<ul class="nav nav-tabs nav-justified ">

    <li role="presentation" class="animated rotateInDownLeft"><a [routerLink]="['/postsCreate',uid]">Create Posts</a></li>
    <li role="presentation" class="animated slideInUp"><a [routerLink]="['/view_posts',uid,pid]">View Posts</a></li>
    <li role="presentation" class="animated rotateInDownRight"><a  [routerLink]="['/posts',uid]">My Posts</a></li>
    
</ul>
<h1 class="sec01 text-center animated flipInX">Prince Paul</h1>
</div>