
<button class="btn btn-info btn" (click)="Comment()" >Comments</button>

<form [formGroup]="commForm" *ngIf="show">
    <div class="form-group" >
        <label class="control-label animated rollIn">Comments</label>
        <input type="text" class="form-control animated rollIn" id="{{ps._id}}" placeholder="Comment" formControlName="comments" />
        
      </div>

    
    
    <!-- <input type="text"  class="form-control" id="{{ps._id}}" [(ngModel)]="comments"> -->
    
    <button class="btn btn-default btn-sm" (click)="commPost(ps._id)" >Post Comments</button>


<!--(click)='Comment(post._id)' (click)="show = !show">{{show ? 'hide' : 'show'}} -->